body{
    margin: 0;
    padding: 0;
}

.container1{
        width: 810px;
        height: 768px;
        background-color: lightblue;
        margin: auto;
        flex-wrap: wrap;
        display: flex; 
}

        .c01{
            width: 200px;
            height: 60px;
            background-color: rgb(108, 228, 228);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Italiana', serif;
            color: azure;
        }
        .c02{
            width: 200px;
            height: 60px;
            background-color: rgb(79, 175, 175);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Italiana', serif;
            color: azure;
        }
        .c03{
            width: 210px;
            height: 8%;
            background-color: darkcyan;
            display: flex;
            justify-items: center;
            align-items: center;
            font-family: 'Italiana', serif;
            color: azure;
        }
        .c04{
            width: 200px;
            height: 60px;
            background-color: rgb(6, 75, 75);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Italiana', serif;
            color: rgb(255, 255, 255);
        }
.c09{
    width: 120px;
    height: 80px;
    background-color: brown;
    margin-left: 25px;
    margin-top:2,5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c11{
    width: 340px;
    height: 550px;
    background-color: lightblue;
    margin-top: 108px;
    margin-left:-130px;
    display: flex;
    color: darkcyan;
    
}
.c12{
    width: 420px;
    height: 673px;
    background-color: brown;
    margin-left: 15px;
    display: flex;
}
a{
    color: aliceblue;
}
a:hover{
    color: blue;
}
a:link{
    color: aliceblue;
    text-decoration: none;
}